/* PREVENIR QUE SE ABRA EL CUADRO DE DIÁOLO DE COPIAR/ABRIR */
a {
	-webkit-touch-callout: none;	/* disable callout, image save panel */
    -webkit-user-select: none;		/* Disable selection/copy in UIWebView */
}

/* ESTILO DE LETRA NORMAL PARA LAS LISTAS Y EL BODY */
.ui-page-theme-a a, body{
	font-weight: normal!important;
}

/* ANCHO MÍNIMO PARA LA TABLA DE LOS ÍCONOS */
.td-left {
	min-width: 40px;
}

/* LISTDIVIDERS */
.ui-listview > .ui-li-divider {
	background-color: #D8CBBE!important;
	border-color: #CFBCA8!important;
	border-bottom-width: 2px!important;
	border-top-width: 2px!important;
}

.ui-page-theme-a .ui-bar-inherit {
	text-shadow: 0 0px 0 #000!important;
}

/* ELIMINAR EL ILUMINADO POR DEFAULT (HOVER) */
.ui-page-theme-a .ui-btn:hover{
	background-color: transparent!important;
}

/* LÍNEA DE SEPARACIÓN */
.separador{
	border-color: #EEE;
	border-width: 1px 0 0;
}

/* CENTRAR */
.centrado{
	text-align: center;
}

/* CRÉDITOS */
.creditos{
	position: relative;
	bottom: -30px;
	margin-right: 30px;
	text-align: right;
}

.creditos a{
	color: #BBB!important;
}

/* MOSTRAR TEXTO COMPLETO */
.textoCompleto {
	white-space: normal!important;
}

/* ESTILO DE ÍCONOS */
.ui-nodisc-icon {
	background: none!important;
	border: none!important;
}

/* ELIMINAR EL ICONO DE LAS LISTAS */
.ui-icon-carat-r:after{
	background-image: none!important;
}

/* CAMBIAR LOS ÍCONOS A NEGRO */
.ui-icon-user:after {
	background-image: url("images/icons-png/user-black.png")!important;
}


